// =======================================================================
//                   PLCEHOLDERS FOR MIXINS
// =======================================================================

%pseudos {
    display: block;
    content: '';
    position: absolute;
}