// ==================================================================
//               CONTAINER
// ==================================================================

.site-container {
    width: 95%;
    margin: 0 auto;
    max-width: $max-width;

    @include mq('lg') {
        width: 85%;
    }
}